
.modal-content {

    border: none !important;
    border-radius: 0 !important;
    width:536px;
    height:375px;
}
.modal-header, .modal-title{
    display:block !important;
    text-align: center;
    font-family: DINPro-Bold;
    font-size:32px;
    padding-top: 20px;
    border: none !important;
}
.col-form-label {
    text-align: center;
}

#recipient-name {
    border:solid 1px grey !important;
    width:134px;
    height:36px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    margin-top:20px;
}
.modal-body{
    text-align: center;
}
.manual{
    text-align: right !important;
    font-size: 12px;
    right:134px;
    position:absolute;
}
.yelp-btn {
     background-color:#B91400 !important;
     width:264px;
     color:white !important;
    margin-left: auto;
    margin-right: auto;
    margin-top:5px !important;
    margin-bottom:5px !important;
 }
.yelp-btn .fa-yelp{
    transform: translate(-50px,0px);
}
.yelp-yellow-btn {
    background-color:#FFDE03 !important;
    width:174px;
    margin-left: auto;
    margin-right: auto;

}
.yelp-div {
    padding-top:150px;
}

.form-label {
    font-family: DINPro-Medium;
}
#create-container .display1 {
    font-size: 32px;
    line-height: 1.2;
    color: black;
    font-weight: bolder;
    left:50%;
    transform: translateX(-50%);
    top:15vh;
    position:absolute;
    min-width:500px;
    text-align: center;
    width:50%;
}

.add-holiday {
    cursor:pointer;
    color:#1271B9;
    transform: translateY(-30px);
}

.holiday-list {
    transform: translateY(-25px);
}

.react-date-picker__button {
    border:none !important;
}
.react-date-picker__clear-button, .react-date-picker__calendar-button {
    display: none !important;
}
.react-calendar {
    border: none !important;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}
.react-calendar *{
    font-size:12px;
}
.sc-bZQynM {
    border: 1px solid #f0f0f0;
    border-radius: 0 !important;
}
.sc-EHOje, .sc-gzVnrw {
    border: 1px solid #f5f5f5;
    border-radius: 0 !important;
}
.sc-EHOje {
    width:110px;
    font-size:16px !important;
    padding-left:10px !important;
    padding-right:10px !important;
    height:35px;
    margin:0;
    border-bottom: none !important;
    background-color:#f5f5f5 !important;
}
.sc-EHOje[aria-selected="true"] {
    background-color:#ffffff !important;
}
.sc-EHOje svg{
    transform: translateY(-3px);
}

.sc-gzVnrw {
width:35px;
    height:35px;
    transform:translateY(-9px);
}

.opentime, .closetime{
    width:80px;
    height:28px;
    border-radius: 0 !important;
    border: none !important;
    background-color: #f5f5f5;
    position:absolute;
}
#form-business-category select{
font-size: 12px;
    display: inline-block;
}
#form-business-category{
min-width:300px;
}
.category {

    height:28px;
    border-radius: 0 !important;
    border: none !important;
    background-color: #f5f5f5;
}
.schedule-day *{
    display: inline-block;
    padding:3px;
}
.form-check-input {
    transform: translateY(-15px);
}
.opentime {

    left:100px;
}
.closetime {
    left:250px;
}
.to {
    position:absolute;
    left:215px;
}
#form-schedule-container {
    min-width:380px;
}
.location-search-input {
    width:100%;
    border-top:none;
    border-left:none;
    border-right:none;
    margin-top:10px;
    margin-bottom:15px;
}
.create-button {
    width:355px;
    margin-left:auto;
    margin-right:auto;
}
