.home.background {
    background-image: url("../resources/background/coverpage.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    overflow: hidden;
    transform: translate(0, 20px);
    background-color: #FFF866;
}

#map-container {
    height: calc(100vh - 100px);
    width: 100%;
}

#map {
    height: calc(100vh - 100px);
    width: 100%;
}

.row * {
    padding-left: 0;
    padding-right: 0;
}

.list-header {
    height: 64px;
    width: 100%;
    background-color: #F4511E;
    text-align: center;
    font-size: 28px;
    padding-top: 10px;
}

.list-group {
    max-height: calc(100vh - 164px);
    overflow: auto;
    border: none;
}

.list-group-item {
    padding-left: 20px;
    padding-right: 20px;
    height: 125px;
}

.truck-item {
    min-width: 400px !important;

}

.truck-item-img {
    width: 90px;
    height: 90px;
    max-height: 100px;

}

.truck-item-title {
    position: absolute;
    left: 110px;
    text-align: left;
    font-size: 20px;
}

.truck-item-category {
    left: 110px;
    bottom: 10px;
    text-align: left;
    position: absolute;
    font-size: 12px;
    color: #0336FF;
}

.truck-item-icon {
    width: 40px;
    height: 40px;
    right: 10px;
    top: 40px;
    position: absolute;
}