.home.background {
    background-image: url("../resources/background/coverpage.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    overflow: hidden;
    transform: translate(0, 20px);
    background-color: #FFF866;
}

#map-container {
    height: calc(100vh - 100px);
    width: 100%;
}

.map-loader {
    width: 100%;
    text-align: center;
    font-family: "DINPRO";
    font-weight: bolder;
    letter-spacing: 3px;
    font-size: 28px;
    margin: 0;
    position:absolute;
    top:calc(150vh - 50px);
    display: inline-block;
    color:#F4511E;
}

#map-container .row * {
    padding-left: 0;
    padding-right: 0;
}

.list-header {
    height: 64px;
    width: 100%;
    background-color: #F4511E;
    text-align: center;
    font-size: 28px;
    padding-top: 10px;
}

.list-group {
    max-height: calc(100vh - 164px);
    overflow: auto !important;
    border: none;
}

.list-group-item {
    padding-left: 20px;
    padding-right: 20px;
    min-height: 125px !important;
    height: 125px !important;
    border-radius: 0px !important;
}

.truck-item {
    min-width: 400px !important;
}

.truck-item-img {
    position:absolute;
    top:15px;
    left: 10px;
    width: 90px;
    height: 90px;
    max-height: 100px;

}

.truck-item-title {
    position: absolute;
    left: 110px;
    text-align: left;
    font-size: 20px;
}

.truck-item-category {
    left: 110px;
    bottom: 15px;
    text-align: left;
    position: absolute;
    font-size: 12px;
    color: #0336FF;
}

.truck-item-icon {
    width: 40px;
    height: 40px;
    right: 10px;
    top: 40px;
    position: absolute;
}

#home-search {
    position:absolute;
    right: 500px;
    top:calc(100vh + 15px);
    z-index: 99;
    width:270px;
}
#search-icon {
    transform: translate(230px, -25px);
    color:white;
}
#search-input {
    background-color:#F4511E;
    border: none;
    height:32px;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    white !important;
}
input {
    color: white !important;
}
.btn {
    position:absolute;
    top:calc(100vh + 15px);
    z-index: 99;
    width:126px;
    height:32px;
    font-size: 13.5px;
}
#btn-open {
    right:364px;
    background-color:#f4511e;
}
#btn-later {
    right:212px;
    background-color:#B91400;
}
#btn-favorite {
    right:60px;
    background-color:#f4511e;
}
#trending-container {
    margin: 0;
    height: calc(100vh - 100px);
    width: 100%;
    background-color: #FFF866;
    padding:100px 50px 50px 100px;
    text-align: center;
    min-width:1000px;
}
.trending-loader {
    width: 100%;
    text-align: center;
    font-family: "DINPRO";
    font-weight: bolder;
    letter-spacing: 3px;
    font-size: 28px;
    display: inline-block;
    color:#F4511E;
    transform:translate(0,30vh);
}
#trending-container .row {
    transform: translate(-20px, 0);
    min-width:1000px;
    max-height:calc(100vh - 100px);
}
.card {
    margin-left:25px;
    margin-right:25px;
    margin-bottom: 30px;
    text-align:left;
    font-size:14px;
    max-width:400px;
    max-height:calc(100vh - 200px);
}
.card-img-top {
    border-radius: 0;
    margin:0;
    padding:0;
    max-width:100%;
    max-height: 200px;
}
.card-user {
    padding-top:0px;
    padding-left:20px;
    padding-bottom:0;
    color:#1271B9;
    font-weight: bolder;
    transform: translate(0px,15px);
}
.card-time {
    padding-left:20px;
}
.card-title {
    color:#1271B9;
    font-weight: bolder;
    font-size:18px;
}
.card-rating {
    padding-bottom:5px;
}