.home.background {
    background-image: url("../resources/background/coverpage.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    overflow: hidden;
    background-color: #FFF866;
    z-index:0;
}
#homepage {

    background-color: #FFF866;
}
#arrow-text {
    position:absolute;
    top: 90vh;
    left:50%;
    font-weight: bolder;
    font-size:20px;
    transform: translate(-50%, -50%);
}

#arrow-up {
    position:absolute;
    top: 95vh;
    left:50%;
    transform: translate(-50%, -50%);
}

#map-container {
    height: calc(100vh - 48px);
    width: 100%;
    z-index:10;
}

.map-loader {
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}
.map-loader img {
    width:300px;
    height:auto;
    margin-left:auto;
    margin-top:35vh;
}

#map-container .list-header {
    height: 64px;
    width: 100%;
    background-color: #F4511E;
    text-align: center;
    padding-top: 7px;
    margin-top: 0;

    font-weight: bolder;
    text-transform: uppercase;
    font-family: "DINPro-Condensed";

    letter-spacing: 3px;
    font-size:32px;
}

#map-container .list-group {
    max-height: calc(100vh - 112px);
    overflow: auto !important;
    border: none;
}

#map-container .list-group-item {
    padding-left: 20px;
    padding-right: 20px;
    min-height: 125px !important;
    height: 125px !important;
    border-radius: 0px !important;
}
#map-container .list-group-item.active {
    background-color: #f7f7f7;
    border:#eeeeee 1px solid;
}
#map-container .list-group-item.active .truck-item-open {
    color: #333333;
}
#map-container .list-group-item.active .truck-item-address {
    color: #333333;
}

.col-left {
    width:400px !important;
    height: calc(100vh - 48px);
}
.col-right {
    width: calc(100vw - 400px) !important;
}

.truck-item {
    min-width: 400px !important;
}

.truck-item-img {
    position:absolute;
    top:15px;
    left: 10px;
    width: 90px;
    height: 90px;
    max-height: 100px;

}

.truck-item-title {
    position: absolute;
    left: 110px;
    text-align: left;
    font-size: 20px;
    color:black !important;
}

.truck-item-category {
    left: 110px;
    text-align: left;
    position: absolute;
    font-size: 12px;
    margin-top:31px;
}
.truck-item-open {
    left: 110px;
    text-align: left;
    position: absolute;
    font-size: 14px;
    margin-top:53px;
}
.truck-item-address {
    left: 110px;
    text-align: left;
    position: absolute;
    font-size: 14px;
    margin-top:75px;
}

.truck-item-icon {
    width: 40px;
    height: 40px;
    right: 15px;
    top: 40px;
    position: absolute;
}

#home-search {
    position:absolute;
    right: 500px;
    top:calc(100vh + 15px);
    z-index: 99;
    width:270px;
}
#search-icon {
    transform: translate(230px, -25px);
    color:white;
}
#search-input {
    background-color:#F4511E;
    border: none;
    height:32px;
}

#map-container ::-webkit-input-placeholder { /* WebKit browsers */
    color:    white !important;
}

#map-container input {
    color: white !important;
}
#map-container .btn {
    position:absolute;
    top:calc(100vh + 15px);
    z-index: 99;
    width:126px;
    height:32px;
    font-size: 13.5px;
    border-radius: 0 !important;
    text-transform: uppercase;
    font-family: DINPro-Medium;
}
#btn-open {
    right:364px;
    background-color:#f4511e;
}
#btn-later {
    right:212px;
    background-color:#f4511e;
}
#btn-favorite {
    right:60px;
    background-color:#f4511e;
}
#trending-container {
    height: calc(100vh - 96px);
    width: 100%;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    padding-top:50px;
    margin-bottom:50px;
}
.trending-row {
    margin-top:50px;
}
.trending-loader {
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}
.trending-loader img {
    width:300px;
    height:auto;
    margin-left:auto;
    margin-top:25vh;
}
#trending-container .row {
    min-width:800px;
    max-height:calc(100vh - 96px);
}
#trending-container .card {
    margin-left:10px;
    margin-right:10px;
    margin-bottom: 80px;
    text-align:left;
    font-size:14px;
    max-width:400px;
    max-height:calc(100vh - 200px);
}
#trending-container .card-img-top {
    border-radius: 0;
    margin:0;
    padding:0;
    max-width:100%;
    max-height: 200px;
}
#trending-container .card-user {
    padding-top:0px;
    padding-left:20px;
    padding-bottom:0;
    color:#1271B9;
    font-weight: bolder;
    transform: translate(0px,15px);
}
#trending-container .card-time {
    padding-left:20px;
}
#trending-container .card-title {
    color:#1271B9;
    font-weight: bolder;
    font-size:18px;
}
#trending-container .card-rating {
    padding-bottom:5px;
}
.trending-title {
    font-weight: bolder;
    margin-top:50px;
    margin-bottom:10px;
    text-transform: uppercase;
    font-family: "DINPro-Condensed";
    letter-spacing: 3px;
    font-size:32px;
    text-align:left;
}

a.anchor {
    display: block;
    position: relative;
    top: -48px;
    visibility: hidden;
}