html {
    background-color: #FFF866;
}

body {
    font-family: "Avenir";
}
@font-face {
    font-family: Avenir;
    src: url('../resources/font/avenir-next-regular.woff');
}

.navbar {
    width: 100vw;
    height: 48px;
    border-bottom: 3px solid black;
    background-color: #FFF866;
    position:absolute;
    vertical-align: middle;
}
.navbar-brand {
    margin-left:100px;
    font-size: 16px !important;
}
.navbar img {
    transform: translate(0,-6px);
}
.nav-item {
    cursor: pointer;
    color: black;
}
#nav-item-1 {
    right:400px;
    position:absolute;
}
#nav-item-2 {
    right:250px;
    position:absolute;
}
#nav-item-3 {
    right:100px;
    position:absolute;
}
#user-icon {
    margin-top:8px;
    margin-right:100px;
}
.dropdown-menu {
    transform: translate(-50px, 0px);
}
.navbar.sticky-bottom {
    border-bottom: none;
    border-top: 3px solid black;
}

a:hover {
    text-decoration: none;
    color:#F4511E;
}

.test.background {
    background-image: url("../resources/background/coverpage.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    -webkit-filter: blur(3px);
    height:100vh;
}

.center {
    width: 100%;
    text-align: center;
    font-family: "DINPRO";
    font-weight: bolder;
    letter-spacing: 3px;
    font-size: 28px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#inner {
    display: inline-block;
}