#login-container {
    height: calc(100vh - 48px);
}
#register-container {
    height: calc(100vh - 48px);
}
#profile-container {
    height: calc(100vh - 68px);
}
.vendor-page .navbar {
    background-color:#B91400;
}
.vendor-page .navbar .navbar-brand {
    color:white;
}
.vendor-page .navbar .nav-item {
    color:white;
}
.user-page .navbar.sticky-bottom {
     background-color: white;
 }
.vendor-page .navbar.sticky-bottom a {
    color: black;
}
.vendor-page .navbar.sticky-bottom {
    background-color: white;
}

.user-page-img {
    margin-top: 20vh;
}
#vendor-login-page .user-page-img {
    margin-top: 26vh;
}

.user-login-form {
    margin-top:17vh;
}
.vendor-login-form {
    margin-top: 22vh;
}

.user-register-form {
    margin-top:12vh;
}
.user-page-card {
    max-width: 350px;
    margin: 20px auto;
    padding: 20px;
}

.user-page .display1 {
    font-size: 32px;
    line-height: 1.2;
    color: black;
    font-weight: bolder;
    text-align:center;
}

.user-page .subhead {
    padding-top:20px;
    padding-bottom:20px;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.1;
    color: #212529;
    text-align:center;
}
#register-container .subhead {
    color:#808080;
    padding-top:10px;
}
.user-page .subtitle {

    padding-top:20px;
    font-size: 14px;
    font-weight: 300;
    color: #212529;
    text-align:center;
}
.user-page .form-group {
    padding-bottom:10px;
}

.user-page .form-control {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid grey;
}
.user-page .btn {
    background-color:#B91400;
    color:white;
    margin-top:30px;
    margin-bottom:30px;
}
.vendor-page .btn {
    border-bottom: none;
    background-color:#FFDE03;
    color:black;
}
.user-page .bottom-text {

    text-align:center;
    font-size: 12px;
    color:#808080;
}

#profile-container .user-page-card{
    max-width: 500px;
    padding-top:20vh;
    margin: 20px auto;
}

.profile-tab {
    margin-top:20px;
    font-size: 16px;
    margin-left:50px;
    margin-right: 40px;
    text-align: center;
    margin-bottom:50px;
}
.profile-tab a{
    color: black;
}
.profile-tab2 {
    margin-left:80px;
}

#profile-container .user-page-card p{
    margin-left:34px;
}

#profile .profile-tab1 {
    border-bottom: solid 3px black;
    font-weight: 900;
}
#profile-edit .profile-tab2 {
    border-bottom: solid 3px black;
    font-weight: 900;
}
#profile-edit .profile-title {
    margin-left:12px !important;
}

.profile-title {
    font-weight:900;
}
.profile-content {
    color: #848484;
    font-size:14px;
    font-weight:lighter;
}
